header{
	background-color: lightgrey;
	background-position: left;
	background-repeat: no-repeat;
	background-size: 25%;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: text-top;
	margin-bottom: 2em;
}

#empty{
	border-radius: 200px;
	border: 10px solid darkgrey;

}
.logo{
	margin-left: 80%;
}
footer{
	text-align: center;
	color: #dbdbdb;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #2d2d2d;
	margin: auto;
	font-weight: bold;
}

.mui-container-fluid{
	margin-bottom: auto;
	margin-top: auto;
}

.mui-panel{
	margin-right: auto;
	max-width: 100%;
	background-color: lightgrey;
	text-align: left;
}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	max-width: 960px;
}
#home{
	margin-left: 37%;
}
#editor{
	margin-left: 38%;
}
#progressions-div{
	text-align: center;
	height: 420px;
}
h3{
	margin-left: 12em;
	margin-top: -5em;
}
#past{
	text-align: center;
	height: 420px;
}
#logout{
	margin-left: 80%;
	margin-top: -11em;
}