body {
	font-family: Optima;
	overflow-x: hidden;
}


header{
	/*background-color: lightgrey;
	background-position: left;*/
	background-repeat: no-repeat;
	background-size: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	vertical-align: text-top;
	margin-bottom: 2em;
	background-image: linear-gradient(rgba(205,217,223,0.6),rgba(205,217,223,0.6)),url("../resources/images/string.jpg");

}

#empty{
	border-radius: 200px;
	border: 10px solid darkgrey;

}
.logo{
	margin-left: 80%;
}
footer{
	text-align: center;
	color: #dbdbdb;
	vertical-align: middle;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #2d2d2d;
	margin: auto;
	font-weight: bold;
}

.mui-container-fluid{
	margin-bottom: auto;
	margin-top: auto;
}

.mui-panel{
	margin-right: auto;
	max-width: 100%;
	background-color: #E4e4e4;
	text-align: left;
}
#wrapper{
	margin-left: auto;
	margin-right: auto;
	max-width: 960px;
	background-image: url("../resources/images/guitarist2.jpg");
}
#home{
	margin-left: 37%;
}
#editor{
	margin-left: 38%;
}
#progressions-div{
	text-align: center;
	height: 502px;
	background-image: url("../resources/images/crowd.jpg");
	background-size: auto 100%;
}

h3{
	margin-left: 12em;
	margin-top: -5em;
}
#past{
	text-align: center;
	height: 502px;
	background-color: #cdd9df;
}
#logout{
	margin-left: 80%;
	margin-top: -11em;
}
.progression-div {
	height: 3em;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 3px 0px #b7b7b7;
}

#buttons {
	height: 3em;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0px 3px 0px #b7b7b7;
}

.progression-div:hover {
	cursor: hand;
}

.Logo:hover {
	cursor: hand;
}

#play:hover {
	cursor: hand;
}
#delete:hover {
	cursor: hand;
}

#play {
	height: calc(3em - 20px);
	width: calc(3em - 20px);
	float: left;
}

#delete {
	height: calc(3em - 20px);
	width: calc(3em - 20px);
	float: right;
}
#name {
	text-algin: center;
	width: 80%
}

.progressionBut {
	width: 100%;
	
}

.mui-btn+.mui-btn {
	margin-left: 0;
}

.buttonRow {
	margin-bottom: auto;
	position: relative;
	top: 25%;
	bottom: 25%;
	line-height: 1.5em;
}

#playButtonTitle {
	font-size: 1.5em
}

#progressions {
	padding-top: 25px;
}

#play-button {
	padding-left: 4px;
}

#delete-button {
	padding-right: 4px;
}

/* new */
.genre {
	position: relative;
	display: inline-block;
	border: 2px solid #3a3a3a;
	background-color: #3a3a3a;
	border-radius: 10px;
	padding: 12px 12;
	margin-left: -10px;
	color: #f7f7f7;
}
.genre-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16;
	z-index: 1;
	background-color: #3a3a3a;
}
.genre:hover .genre-content{
	display: block;
}
ul{
	list-style-type: none;
	text-align: left;
}
.mode {
	position: relative;
	display: inline-block;
	border: 2px solid #3a3a3a;
	background-color: #3a3a3a;
	border-radius: 10px;
	padding: 12px 12;
	margin-left: -10px;
	color: #f7f7f7;
}
.mode-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16;
	z-index: 1;
	background-color: #3a3a3a;
}
.mode:hover .mode-content{
	display: block;
}
.key {
	position: relative;
	display: inline-block;
	border: 2px solid #3a3a3a;
	background-color: #3a3a3a;
	border-radius: 10px;
	padding: 12px 12;
	margin-left: -10px;
	color: #f7f7f7;
}
.key-content{
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16;
	z-index: 1;
	background-color: #3a3a3a;
}
.key:hover .key-content{
	display: block;
}
.gendrop{
	width: 100%;
}

#classical:hover{
	cursor: hand;
}

#rock:hover{
	cursor: hand;
}

#blues:hover{
	cursor: hand;
}
#major:hover{
	cursor: hand;
}
#minor:hover{
	cursor: hand;
}
#A{
	cursor: hand;
}
#B{
	cursor: hand;
}
#C{
	cursor: hand;
}
#D{
	cursor: hand;
}
#E{
	cursor: hand;
}
#F{
	cursor: hand;
}
#G{
	cursor: hand;
}
#generate{
	margin-top: 8em;
}
#player{
	background-color: #3a3a3a;
	color: #f9f9f9;
	text-align: center;
}
#playbutton{
	height: calc(3em - 20px);
	width: calc(3em - 20px);
}
.save{
	margin-left: 22em;
}
#save:hover{
	cursor: hand;
}
.playbutton:hover{
	cursor: hand;
}
.save-button:hover{
	cursor: hand;
}
#name-insert{
	width: 200px;
}

/* For generated progression */

#generated-progression {
	margin-top: 5em;
	font-size: 2.5em;
	text-align: center;
	word-spacing: 6px;
	height: 100px;
}

/* chris */

#genPlayer{
	background-color: #3a3a3a;
	color: #f9f9f9;
	text-align: center;
	width: 90%;
}

#save-button {
  	padding-right: 4px;
  }

#playButton{
    padding-left: 4px;
}

#playButtonInput {
  	font-size: 1.5em
}

#save {
  	height: calc(3em - 20px);
  	width: calc(3em - 20px);
  	float: right;
}



